.containerA4 {
  width: 70%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
}

.wrapped {
  background-color: #fff;
  padding: 2%;
  margin: 5% 0;
  text-align: center;
  box-shadow: 0px 1px 5px 0px gray;
}
